.sign-up__additional {

    .sign-up__additional-headline {
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.35;
        text-align: center;
        margin-bottom: 20px;
    }

    .sign-up__additional-list {

        .sign-up__additional-item {

            .sign-up__additional-label {


                .sign-up__additional-checkbox {
                    display: none;
                }

                .sign-up__additional-label-text {
                    display: flex;

                    color: rgb(0, 0, 0);
                    line-height: 1.667;

                    &::before {
                        box-sizing: border-box;
                        content: url("../img/form/checkbox.png");
                        display: block;

                        width: 50px;
                        height: 50px;
                        left: 0;
                    }
                }

                .sign-up__additional-checkbox:checked + .sign-up__additional-label-text:before {
                    content: url("../img/form/checkbox-checked.png");
                }
            }
        }
    }
}

@include for-phone-only {
    .sign-up__additional {

        .sign-up__additional-headline {
            font-size: 20px;
        }

        .sign-up__additional-list {

            .sign-up__additional-item {

                .sign-up__additional-label {


                    .sign-up__additional-checkbox {
                    }

                    .sign-up__additional-label-text {
                        font-size: 18px;

                        &::before {
                        }
                    }

                    .sign-up__additional-checkbox:checked + .sign-up__additional-label-text:before {
                    }
                }
            }
        }
    }
}

@include for-tablet {
    .sign-up__additional {

        .sign-up__additional-headline {
            font-size: 30px;
        }

        .sign-up__additional-list {
            display: flex;
            flex-wrap: wrap;

            .sign-up__additional-item {
                width: 50%;
                margin: 15px 0;

                .sign-up__additional-label {


                    .sign-up__additional-checkbox {
                    }

                    .sign-up__additional-label-text {
                        font-size: 24px;

                        &::before {
                        }
                    }

                    .sign-up__additional-checkbox:checked + .sign-up__additional-label-text:before {
                    }
                }
            }
        }
    }
}