$mobile-screen: "(min-width: 320px)";

@function get-vw($target) {
    $vw-context: (1000*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}

@mixin vw($size) {
    font-size: get-vw($size);
    @media #{$mobile-screen} {
        font-size: $size;
    }
}

@mixin for-phone-only {
    @media (max-width: 767px) { @content; }
}
@mixin for-tablet {
    @media (min-width: 768px) { @content; }
}
@mixin for-desktop {
    @media (min-width: 1200px) { @content; }
}