.table-price {
    margin: 0;

    .table-price__service {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .table-price__service-number {
            font-size: 20px;
            color: rgba(255, 255, 255, 0.302);
            text-align: center;
        }

        .table-price__service-name {
            font-size: 20px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.35;
        }

        .table-price__service-additional {
            margin: 0;

            color: rgb(255, 255, 255);
        }

        .table-price__service-price {
            color: rgb(255, 255, 255);
            line-height: 1.35;
        }
    }
}

@include for-phone-only {
    .table-price {

        .table-price__service {

            .table-price__service-number {
                display: none;
            }

            .table-price__service-name {
                margin: 15px 0 0 0;
            }

            .table-price__service-additional {
                font-size: 18px;
                width: 100%;
                order: 3;

                &::before {
                    content: '(';
                }
                &::after {
                    content: ')';
                }
            }

            .table-price__service-price {
                font-size: 18px;
                margin: 15px 0 0 0;
            }
        }
    }
}

@include for-tablet {
    .table-price {
        box-sizing: border-box;

        .table-price__service {
            height: 55px;

            display: flex;
            align-items: center;

            .table-price__service-number {
                width: 9vw;
            }

            .table-price__service-name {
                width: 32.55vw;
            }

            .table-price__service-additional {
                font-size: 20px;
                width: 20.8vw;
            }

            .table-price__service-price {
                font-size: 20px;
                width: 160px;
            }
        }
    }
}