.logo {
    padding: 29px 0 26px;
    display: flex;
    justify-content: center;

    .logo__link {

        .logo__barbershop-pic {

            .logo__barbershop-img {

                @include for-phone-only {
                    width: auto;
                }

            }
        }
    }
}

.logo-nav--open {
    margin-bottom: 50px;
}
