@import "feature/feature";
@import "news/news";
@import "price/price";
@import "price/price__list/price__list";
@import "reviews/reviews";
@import "reviews/reviews__list/reviews__list";

.index__container {
    width: 100%;

    display: flex;
    justify-content: center;

    .index-main__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}