.sign-up__text-data {

    .sign-up__headline {
        margin: 30px 0;
        text-align: center;
    }

    .sign-up__text-list {

        .sign-up__text-item {

            .sign-up__text-label {

                .form__input {
                    box-sizing: border-box;
                    border: 1px solid #e5ddd5;
                    margin-bottom: 5px;
                    font-family: 'PT Sans Narrow', Arial, sans-serif;
                    font-size: 18px;
                    resize: none;

                    &[name="user-second-name"],
                    &[name="user-mail"] {
                        margin-bottom: 30px;
                    }

                    &::placeholder {
                        font-size: 18px;
                        line-height: 1.667;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@include for-phone-only {
    .sign-up__text-data {

        .sign-up__headline {
        }

        .sign-up__text-list {

            .sign-up__text-item {

                .sign-up__text-label {

                    .form__input {
                        padding: 15px;
                        width: 87.5vw;
                    }
                }
            }
        }
    }
}

@include for-tablet {
    .sign-up__text-data {

        .sign-up__headline {
        }

        .sign-up__text-list {
            width: 83.33333333333333vw;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .sign-up__text-item {

                .sign-up__text-label {

                    .form__input {
                        padding: 25px;
                        width: 83.33333333333333vw;
                        font-size: 24px;
                        line-height: 1.25;

                        &::placeholder {
                            font-size: 24px;
                            line-height: 1.25;
                            font-weight: normal;
                        }
                    }
                    .form__surname {
                        width: 27.34375vw;
                    }
                    .form__name {
                        width: 27.34375vw;
                    }
                    .form__second-name {
                        width: 27.34375vw;
                    }
                }
            }
        }
    }
}