.reviews__list {
    box-sizing: border-box;
    padding: 0 20px;

    .reviews__item {
        display: flex !important;
        justify-content: space-around;

        &:focus{
            outline: 0;
        }

        .reviews__pic {
            margin-top: 10px;

            .reviews__img {

            }
        }

        .reviews__person {
            width: 65.625vw;

            .reviews__name {
                font-size: 24px;
                color: rgb(0, 0, 0);
                font-weight: bold;
                line-height: 1.125;
                text-align: left;
                margin: 0;
            }

            .reviews__text {
                font-size: 18px;
                color: rgb(0, 0, 0);
                line-height: 1.5;
                text-align: left;
                margin: 10px 0 0 0;
            }
        }
    }
    .news-indicator {
        width: 25vw;
        margin: 30px auto 0 auto;

        display: flex !important;
        justify-content: space-between;
        align-items: baseline;

        .news-indicator__img {
            box-sizing: border-box;
            max-height: 15px;
            max-width: 15px;
            width: 3.128vw;
            height: 3.128vw;
            background-color: transparent;
            border: 2px solid #959595;
            transform: rotate(-45deg);
            transform-origin: 0 100%;
        }

        li {
            width: 3.128vw;
            height: 3.128vw;
        }

        li .slick-active {
            width: 3.128vw;
            height: 3.128vw;
            background-color: white;
        }
        .slick-active {
            .news-indicator__img {
                background-color: #353535;
                border: 1px solid #959595;
            }
        }
    }
}

@include for-phone-only {
    .reviews__list {
        max-width: 100vw;

        .reviews__item {

            .reviews__pic {

                .reviews__img {

                }
            }

            .reviews__person {

                .reviews__name {
                }

                .reviews__text {
                }
            }
        }
        .news-indicator {

            .news-indicator__img {
            }

            li {
            }

            li .slick-active {
            }
            .slick-active {
                .news-indicator__img {
                }
            }
        }
    }
}

@include for-tablet {
    .reviews__list {
        width: 70.3125vw;
        border: 1px solid #e5ddd5;

        .reviews__item {

            .reviews__pic {

                .reviews__img {

                }
            }

            .reviews__person {

                .reviews__name {
                }

                .reviews__text {
                }
            }
        }
        .news-indicator {

            .news-indicator__img {
            }

            li {
            }

            li .slick-active {
            }
            .slick-active {
                .news-indicator__img {
                }
            }
        }
    }
}