<nav class="header__nav">
    <button class="header__nav-menu-mobile" onclick="openMenu()">
        <img class="header__nav-img" src="img/header/menu-button.png" alt="Открыть меню">
    </button>
    <ul class="header__list">
        <li class="header__item header__item--current"><a href="index.html" class="header__item-link">Главная</a></li>
        <li class="header__item"><a href="our-works.html" class="header__item-link">Наши работы</a></li>
        <li class="header__item"><a href="sign-up.html" class="header__item-link">Записаться</a></li>
        <li class="header__item"><a href="#footer" class="header__item-link">Контакты</a></li>
        <li class="header__item"><a href="" class="header__item-link">Html Academy</a></li>
    </ul>
    <ul class="header__user-nav">
        <li class="header__login-enter">
            <a href="#" class="header__login-link">
                <img src="img/header/login.png" alt="Вход" class="header__login-img">
                <span class="header__login-text">Вход</span>
            </a>
        </li>
    </ul>
</nav>