.header {
    width: 100%;

    background-color: #242424;

    display: flex;
    justify-content: center;

    .header__container {
        width: 100%;
        display: flex;
    }
}

@include for-phone-only() {
    .header {
        .header__container {
            flex-direction: column;
        }
    }
}

@include for-tablet() {
    .header {
        .header__container {
            flex-direction: column-reverse;
        }
    }
}

@include for-desktop {
    .header {
        .header__container {
            flex-direction: column-reverse;
        }
    }
}