.header {
    width: 100%;

    background-color: #242424;

    display: flex;
    justify-content: center;

    .header__container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}