.design-by-academy {
    display: flex;
    flex-direction: column;

    .design-by-academy__headline {
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-weight: normal;
        margin-top: 0;
    }

    .design-by-academy__link {
        align-self: flex-start;
        font-size: 18px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.333;
        text-align: center;
        width: 100%;
        border: 1px solid #3e3e3e;
        box-sizing: border-box;
    }
}

@include for-phone-only {
    .design-by-academy {
        padding: 20px;

        .design-by-academy__headline {
            line-height: 1.5;
        }

        .design-by-academy__link {
            padding: 17px;
        }
    }
}

@include for-tablet {
    .design-by-academy {
        order: 2;

        .design-by-academy__headline {
        }

        .design-by-academy__link {
            padding: 17px 30px;
        }
    }
}
