.discount {
    display: flex;
    align-items: center;
    justify-content: space-around;

    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    padding: 15px;

    .discount__img {
        margin-right: 20px;
    }

    .discount__text {
        color: rgb(255, 255, 255);
        line-height: 1.35;
    }
}

@include for-phone-only {
    .discount {
        max-width: 500px;
        border: 1px solid #484848;

        .discount__img {
        }

        .discount__text {
            font-size: 18px;
        }
    }
}

@include for-tablet {
    .discount {

        .discount__img {
            width: 70px;
            height: 70px;
        }

        .discount__text {
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}