.discount {
    display: flex;
    align-items: center;
    justify-content: space-around;

    border: 1px solid #484848;

    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    padding: 15px;

    .discount__img {
        margin-right: 20px;
    }

    .discount__text {
        font-size: 18px;
        color: rgb(255, 255, 255);
        line-height: 1.35;
    }
}