.feature {
    background-color: #242424;

    .feature__list {

        .feature__item {

            .feature__img {

            }

            .feature__headline {
                font-size: 30px;
                color: rgb(247, 244, 241);
                font-weight: bold;
                line-height: 1;
                text-align: center;
            }

            .feature__text {
                font-size: 20px;
                color: rgb(247, 244, 241);
                line-height: 1.35;
                text-align: center;
            }
        }
    }

    .feature__indicators {

        .feature__indicator-img {

        }
    }
}