.price-current {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    background-color: #353535;

    .price-current__headline {
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
    }
}

.discount-after {
    background-color: #292929;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 35px solid #353535;
}