.price-current {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #353535;

    .price-current__headline {
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
    }
}



@include for-phone-only {
    .price-current {
        padding: 20px;

        .price-current__headline {
        }
    }

    .discount-after {
        display: flex;
        justify-content: space-around;
        background-color: #353535;
        .discount-first {
            height: 0;
            border-left: 0;
            border-right: 50vw solid transparent;
            border-bottom: 35px solid #292929;
        }
        .discount-second {
            height: 0;
            border-left: 50vw solid transparent;
            border-right: 0;
            border-bottom: 35px solid #292929;
        }
    }
}
@include for-tablet {
    .price-current {
        padding: 40px 8.3333vw;
        .price-current__headline {
        }
    }
}
